<%-include("header.ejs")%>
<h1>All Blogs!!</h1>
<%-include("modals.ejs")%>
<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#addModal"
>
  ADD BLOG
</button>
<%-include("search.ejs")%>
<!-- for loob -->
<div class="container">
  <% for( let i = 0; i < allBlogs.length; i++ ) { %>
<%let author = allUsers[allBlogs[i].author].uName;
console.log(allBlogs.length)%>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h3 class="card-title" id="title<%=allBlogs[i].id%>">
        <%=allBlogs[i].title%>
      </h3>
      <h5 class="card-subtitle mb-2 text-muted">Id: <%=allBlogs[i].id%></h5>
      <h5 class="card-subtitle mb-2 text-muted">author: <%=author%></h5>
      <h6 class="card-subtitle mb-2 text-muted" id="content<%=allBlogs[i].id%>">
        <%=allBlogs[i].content%>
      </h6>
      <button
        data-toggle="modal"
        data-target="#updateModal"
        onclick="getBlogId('<%=allBlogs[i].id%>')"
        type="button"
        class="btn btn-dark"
      >
        UBDATE
      </button>
      <button
        data-toggle="modal"
        data-target="#deleteModal"
        type="button"
        onclick="getBlogIdToDelete('<%=allBlogs[i].id%>')"
        class="btn btn-danger"
      >
        DELETE
      </button>
    </div>
  </div>
  <% } %> <%-include("footer.ejs") %>
</div>
