<%-include("header.ejs")%>
<h1><%=title%></h1>
<%-include("modals.ejs")%>
<%-include("search.ejs")%>
<div class="container">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h3 class="card-title" id="title<%=blogIdContent.id%>">
        <%=blogIdContent.title%>
      </h3>
      <h5 class="card-subtitle mb-2 text-muted">
        ID: <%=blogIdContent.id%>
      </h5>
      <h6
        class="card-subtitle mb-2 text-muted"
        id="content<%=blogIdContent.id%>"
      >
        <%=blogIdContent.content%>
      </h6>
      <button
        data-toggle="modal"
        data-target="#updateModal"
        onclick="getBlogId('<%=blogIdContent.id%>')"
        type="button"
        class="btn btn-dark"
      >
        UBDATE
      </button>
      <button
        data-toggle="modal"
        data-target="#deleteModal"
        type="button"
        onclick="getBlogIdToDelete('<%=blogIdContent.id%>')"
        class="btn btn-danger"
      >
        DELETE
      </button>
    </div>
  </div>
</div>
<form action="/">
  <button type="submit" class="btn btn-primary">HOME</button>
</form>
<%-include("footer.ejs")%>
